.LRF_content_start{
    background: rgba(119,119,119,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 0%, rgba(77,77,77,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(119,119,119,1)), color-stop(0%, rgba(119,119,119,1)), color-stop(100%, rgba(77,77,77,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 0%, rgba(77,77,77,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 0%, rgba(77,77,77,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 0%, rgba(77,77,77,1) 100%);
background: radial-gradient(ellipse at center, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 0%, rgba(77,77,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#4d4d4d', GradientType=1 );
}
.LRF_content_portfolio{
    background: rgba(119,119,119,1);
background: -moz-linear-gradient(top, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 0%, rgba(77,77,77,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(119,119,119,1)), color-stop(0%, rgba(119,119,119,1)), color-stop(100%, rgba(77,77,77,1)));
background: -webkit-linear-gradient(top, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 0%, rgba(77,77,77,1) 100%);
background: -o-linear-gradient(top, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 0%, rgba(77,77,77,1) 100%);
background: -ms-linear-gradient(top, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 0%, rgba(77,77,77,1) 100%);
background: linear-gradient(to bottom, rgba(119,119,119,1) 0%, rgba(119,119,119,1) 0%, rgba(77,77,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#4d4d4d', GradientType=0 );
background-attachment: fixed;
}